#include <dt-bindings/zmk/mouse.h>
#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";   // ▽: hold-preferred/balanced も可
    tapping-term-ms = <170>;
};

&lt {
    quick-tap-ms = <200>;
    flavor = "tap-preferred";   // ▽
    tapping-term-ms = <170>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&trans          &kp N1          &kp N2        &kp N3       &kp N4       &kp N5     &kp N6           &kp N7     &kp N8        &kp N9         &kp N0        &kp MINUS
&kp LANGUAGE_5  &kp Q           &kp W         &kp E        &kp R        &kp T                &kp Y  &kp U      &kp I         &kp O          &kp P         &kp INT_YEN
&kp TAB         &kp A           &kp S         &kp D        &kp F        &kp G                &kp H  &kp J      &kp K         &kp L          &kp SEMI      &lt 2 LANG1
&kp LEFT_SHIFT  &kp Z           &kp X         &kp C        &kp V        &kp B                &kp N  &kp M      &kp KP_COMMA  &kp KP_DOT     &kp KP_SLASH  &kp BACKSLASH
                &lt 3 INT_KANA  &kp LEFT_ALT  &lt 1 LANG1  &lt 2 SPACE  &kp LCTRL  &kp LGUI         &kp ENTER                &kp BACKSPACE
            >;
        };

        SHIFT {
            bindings = <
&kp ESC  &kp EXCL       &kp AT    &kp HASH   &kp DLLR          &kp PRCNT      &kp CARET             &kp AMPS        &kp STAR   &kp LPAR   &kp RPAR       &kp UNDERSCORE
&trans   &kp Q          &kp W     &kp E      &kp R             &kp T                     &kp Y      &kp U           &kp I      &kp O      &kp P          &kp LBKT
&kp DEL  &kp A          &kp S     &kp D      &kp F             &kp G                     &kp H      &kp J           &kp K      &kp L      &kp COLON      &kp DQT
&trans   &kp LESS_THAN  &kp PIPE  &kp MINUS  &kp GREATER_THAN  &kp BACKSLASH             &kp GRAVE  &kp UNDERSCORE  &kp SLASH  &kp TILDE  &kp SEMICOLON  &trans
         &trans         &trans    &trans     &trans            &trans         &trans                &trans                     &trans
            >;
        };

        Mouse_Num {
            bindings = <
&kp ESC  &kp F1            &kp F2        &kp F3        &kp F4        &kp F5             &kp F6                 &kp F7              &kp F8    &kp F9               &kp F10   &kp F11
&trans   &kp LEFT_BRACKET  &kp N7        &kp N8        &kp N9        &kp RIGHT_BRACKET          &kp PAGE_UP    &kp LA(LEFT_ARROW)  &kp HOME  &kp LA(RIGHT_ARROW)  &none     &kp F12
&trans   &kp SLASH         &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp MINUS                  &kp PAGE_DOWN  &mkp LCLK           &kp UP    &mkp RCLK            &mkp MB3  &trans
&trans   &kp ASTERISK      &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &kp PLUS                   &kp END        &kp LEFT_ARROW      &kp DOWN  &kp RIGHT_ARROW      &none     &trans
         &kp EQUAL         &trans        &kp N0        &kp PERIOD    &trans             &trans                 &trans                        &trans
            >;
        };

        ADJ {
            bindings = <
&trans       &trans  &trans  &trans  &trans  &trans  &trans          &trans             &trans      &trans           &trans     &trans
&trans       &none   &none   &none   &trans  &trans          &trans  &trans             &trans      &trans           &trans     &trans
&trans       &trans  &trans  &trans  &trans  &trans          &trans  &kp LC(PLUS)       &kp LC(N0)  &kp LG(MINUS)    &trans     &trans
&bootloader  &trans  &trans  &trans  &trans  &trans          &trans  &kp C_VOLUME_DOWN  &kp K_MUTE  &kp C_VOLUME_UP  &kp LG(H)  &kp LG(RS(S))
             &trans  &trans  &trans  &trans  &trans  &trans          &trans                         &trans
            >;
        };
    };
};
